<h3>Patient List</h3>
<div *ngIf="!patients" class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>

<table *ngIf="patients" class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Gender</th>
    <th scope="col">Email</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let patient of patients; index as i">
    <td>
      <a class="patient-id" (click)="navigateToPatientDetail(patient)">{{ patient.id }}</a>
    </td>
    <td>
      {{ patient.patient_info.first_name }}
    </td>
    <td>
      {{ patient.patient_info.last_name }}
    </td>
    <td>
      {{ patient.patient_info.gender }}
    </td>
    <td>
      {{ patient.patient_info.email }}
    </td>
  </tr>
  </tbody>
</table>
