<h3>Patient Details</h3>
<div *ngIf="!patientDetails" class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div *ngIf="patientDetails" class="container-fluid">
  <div class="row">
    <div class="col-1">
      <strong>First name:</strong>
    </div>
    <div class="col-2">
      {{patientDetails.patient_info.first_name}}
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <strong>Last name:</strong>
    </div>
    <div class="col-2">
      {{patientDetails.patient_info.last_name}}
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <strong>Gender:</strong>
    </div>
    <div class="col-2">
      {{patientDetails.patient_info.gender}}
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <strong>Email:</strong>
    </div>
    <div class="col-2">
      {{patientDetails.patient_info.email}}
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <strong>IP Address:</strong>
    </div>
    <div class="col-3">
      {{patientDetails.patient_info.ip_address}}
    </div>
  </div>
</div>

<h3 class="mt-4">ECG measure Chart</h3>
<div class="search-container">
  <date-range-picker></date-range-picker>
  <button type="button" class="btn btn-primary search-button" (click)="searchHeartBeat()">Search</button>
  <button type="button" class="btn btn-primary" [disabled]="disableGoToLiveChart" (click)="goToLiveChart()">Live Chart</button>
</div>
<div *ngIf="!heartBeatsData" class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="heart-beat-chart-container">
  <heartbeat-chart *ngIf="heartBeatsData" [heartBeatDataSouce] = "heartBeatsData"></heartbeat-chart>
</div>
